* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}
.titulo{
  font-family: 'Times New Roman', Times, serif;
}
header {
  height: 80px;
  background: #5A58BD;
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin: auto;

}

footer {
  background-color: #5A58BD;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
}

div {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

div h1 {
  font-weight: 600;
  color: white;
  font-size: 90px;
}


a {
  margin-top: -150px !important;
  margin: auto !important;
  font-size: 40px;
  width: 300px;
  border-radius: 5px;
  padding: 34px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #5A58BD;
  margin: 5px;
  font-weight: bold;
  display: flex;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
a:hover{
  color: rgb(255, 123, 0);
}
img{
  width: 600px;
  height: 350px;
}